
body {
    background-color: white;
    height: 1200px;
}

a {
  color: black;
  padding: 8px;
}

#navList {
  padding-top: 0;
  margin-top: 0;
}

.btn-smg {
  margin-left: 150%;
}

/* Container for flexboxes */
.row-one {
    display: -webkit-flex;
    display: flex;
    height: 300px;
    padding-bottom: 5%;
  }

.row-two {
    display: -webkit-flex;
    display: flex;
    height: 200px;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }


h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: rgb(34, 61, 119);
  font-size: 80px;
  padding-top: 5%;
}

h2 {
  font-family: 'Gupter', serif;
  text-align: center;
  font-size: 40px;
  color: rgb(34, 61, 119);
}

h3 {
  font-family: 'Gupter', serif;
  text-align: center;
  font-size: 30px;
  color: rgb(34, 61, 119);
  
}

h4 {
  font-family: 'Gupter', serif;
  font-size: 25px;
  text-align: center;
  color: rgb(22, 22, 22);
}

h5 {
  text-align: center;
}


footer {
    height: 300px;
    background-color: rgb(252, 157, 181);
    max-width: 100%;
}

ul {
    list-style: none;
    color: rgb(34, 61, 119);
    font-family: 'Gupter', serif;
    font-size: 25px;
    padding-top: 4%;
}

#copyright {
  font-size: 15px;
}

p {
    text-align: center;
    padding-bottom: 0;
    margin-bottom:0;
    padding-top: 2%;
}
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  


